<mat-nav-list>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="ensdashboard">
       Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="Ensprofile">
       Profile</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="addcours">
       Ajouter un Cours</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="cours">
       Liste des cours</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="calendrier">
       Calendrier</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="enmessage">
         Message</a>

</mat-nav-list>